<div class="container-fluid">
<div class="row">
  <div class="navbar">
   <app-menu-home></app-menu-home>
  </div>

  <div class="container-fluid indent">
  <div class="row">
    <div class="col-md-6">
      <h2>Clients</h2>
    </div>
    <div class="col-md-6 text-right">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addClient">Add</button>
    </div>
  </div>


  <table class="table table-sm">
    <thead>
    <tr>
      <th>#</th>
      <th>Client Login</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date Of Birth</th>
      <th>Rides Amount</th>
    </tr>
    </thead>
    <tbody *ngFor="let client of clients">

    <tr>
      <th scope="row">1</th>
      <td>{{client.clientLogin}}</td>
      <td>{{client.firstName}}</td>
      <td>{{client.lastName}}</td>
      <td>{{client.dateOfBirth}}</td>
      <td>{{client.ridesAmount}}</td>
    </tr>

    </tbody>
  </table>

  <div id="addClient" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">

      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">
            Add client
          </h4>
        </div>

        <div class="modal-body">
          <form class="form-horizontal" role="form" #addMountForm="ngForm" (ngSubmit)="onSubmit(addMountForm)">

            <div class="form-group">
              <label class="col-sm-2 control-label" for="inputLogin">Login</label>
              <div class="col-sm-12"><input type="text" class="form-control" id="inputLogin" name="clientLogin"
                                            placeholder="Login" ngModel/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="inputFirstName">First name</label>
              <div class="col-sm-12"><input type="text" class="form-control" id="inputFirstName" name="firstName"
                                            placeholder="First name" ngModel/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="inputLastName">Last name</label>
              <div class="col-sm-12"><input type="text" class="form-control" id="inputLastName" name="lastName"
                                            placeholder="Last name" ngModel/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="inputBirthDate">Birth date</label>
              <div class="col-sm-12"><input type="date" class="form-control" id="inputBirthDate" name="dateOfBirth"
                                            ngModel/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="inputRidesAmount">Rides amount</label>
              <div class="col-sm-12"><input type="number" class="form-control" id="inputRidesAmount" name="ridesAmount"
                                            placeholder="1" ngModel/>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="reset">
                Close
              </button>
              <button type="submit" class="btn btn-primary" id="save">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

</div>

