<h2>Clients</h2>
<table class="table table-sm">
  <thead>
  <tr>
    <th>#</th>
    <th>Person Login</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date Of Birth</th>
    <th>Rides Amount</th>
  </tr>
  </thead>
  <tbody *ngFor="let client of clients">

  <tr>
    <th scope="row">1</th>
    <td>{{client.personLogin}}</td>
    <td>{{client.firstName}}</td>
    <td>{{client.lastName}}</td>
    <td>{{client.dateOfBirth}}</td>
    <td>{{client.ridesAmount}}</td>
  </tr>

  </tbody>
</table>
