.menu {
  background-color: #f8f9fa;
}

.block {
  background-color: #f8f9fa;
}

.alert-custom {
  padding: 0.0rem 1.25rem !important;
}

.btn-fix-size {
  width: 78px !important;
}

.color-normal {
  color: #02ab08;
}
.color-info {
  color: #007bff;
}
.color-alert {
  color: #d8b400;
}
.color-wrong {
  color: #c10307;
}
