body { padding-top: 60px; }

.menu {
  background-color: #f8f9fa;
}

.block {
  background-color: #f8f9fa;
}

.alert-custom {
  padding: 0.0rem 1.25rem !important;
}

.btn-fix-size {
  width: 78px !important;
}

.color-normal {
  color: #02ab08;
}
.color-info {
  color: #007bff;
}
.color-alert {
  color: #d8b400;
}
.color-wrong {
  color: #c10307;
}


.table-gray {
  color: #565a5a;
}
.table-margin {
  padding:0 15px 0 15px;
}
.table-margin-1 {
  padding:0 10px 0 25px;
}

.table-bl {
  border-left:1px solid #d4d9d2;
}

h5 {
  color: #484c4c;
}

h6 {
  color: #484c4c;
}

.fa-border-r {
  padding:0 10px 0 0;
}

.alert-custom {
  height:100%;
}

.ml-10 {
  margin-left: 6rem !important;
}

.anchor-button {
   cursor: pointer;
   color: #007bff !important;
}

.anchor-button:focus,
.anchor-button:hover {
    color: #3636ab !important;
}
