
  <div class="col col-md-2">
    <ul class="nav flex-column">
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/dashboard']" class="nav-link">Dashboard</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/clients-table']" class="nav-link" >Clients</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/rides']" class="nav-link">Rides</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/statistics']" class="nav-link disabled">Statistic</a>
      </li>

    </ul>
  </div>







